<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="first-project">
        <classes>
            <class name="com.epam.firstproject.EpamTest"/>
        </classes>
    </test> <!-- first-project -->
</suite> <!-- Default Suite -->
